## 라이브러리 임포트

In [1]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
from tqdm.auto import tqdm, trange
import configparser
import plotly.express as px
import plotly.graph_objects as go
import json

### 데이터 불러오기

In [2]:
pd.set_option('mode.chained_assignment',  None)  # SettingWithCopyWarning 무시

# SQLAlchemy를 사용하여 데이터베이스 연결
engine = create_engine("mysql+pymysql://admin:lazyestate@database-1.cr1v98drjdof.ap-northeast-2.rds.amazonaws.com:3306/LE")

# houseinfo_raw 데이터를 DataFrame으로 받기
df_realprice_raw = pd.read_sql_table('realprice', engine.connect(), index_col='no')
df_realprice_raw['contract_price'] = df_realprice_raw['contract_price']*10000000
df_realprice_raw

,apartment_name,city,district,neighborhood,address_number,road_name,floor,building_m2,construction_year,contract_price,contract_year,contract_month,contract_date,contract_type
no,,,,,,,,,,,,,,
1,개포더샵트리에,서울특별시,강남구,개포동,651-1,개포로 311,8,105.806,2021.0,24000000000000000,2023,6,29,중개거래
2,개포래미안포레스트,서울특별시,강남구,개포동,1282,개포로 264,33,84.830,2020.0,24000000000000000,2022,11,25,중개거래
3,개포래미안포레스트,서울특별시,강남구,개포동,1282,개포로 264,5,84.860,2020.0,24000000000000000,2022,11,29,중개거래
4,개포래미안포레스트,서울특별시,강남구,개포동,1282,개포로 264,13,59.920,2020.0,15800000000000000,2023,1,5,중개거래
5,개포래미안포레스트,서울특별시,강남구,개포동,1282,개포로 264,13,59.920,2020.0,16600000000000000,2023,1,14,중개거래
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105025,한영(103),서울특별시,중랑구,중화동,274-76,동일로144길 74,2,58.460,2003.0,3000000000000000,2021,7,1,None
105026,한영(104),서울특별시,중랑구,중화동,274-77,동일로144길 74,2,67.570,2003.0,2600000000000000,2020,8,7,None
105027,현대휴앤미,서울특별시,중랑구,중화동,11,봉화산로27가길 23,5,100.170,2007.0,5480000000000000,2020,12,3,None
105028,현대휴앤미(102동),서울특별시,중랑구,중화동,11-7,봉화산로27가길 19,5,77.710,2007.0,4000000000000000,2020,9,28,None
105029,현대휴앤미(102동),서울특별시,중랑구,중화동,11-7,봉화산로27가길 19,5,77.710,2007.0,4000000000000000,2020,9,28,None

In [3]:
pd.set_option('mode.chained_assignment',  None)  # SettingWithCopyWarning 무시

# SQLAlchemy를 사용하여 데이터베이스 연결
engine = create_engine("mysql+pymysql://admin:lazyestate@database-1.cr1v98drjdof.ap-northeast-2.rds.amazonaws.com:3306/LE")

# houseinfo_raw 데이터를 DataFrame으로 받기
df_houseinfo = pd.read_sql_table('houseinfo', engine.connect(), index_col='no')
df_houseinfo

,case_number,property_type,auction_date,percentage,result,auction_count,appraised_value,minimum_bid_price,sale_price,sale_rate,...,floor,room,full_address_road,building_name,road_name,main_building_no,sub_building_no,postcode,latitude,longitude
no,,,,,,,,,,,,,,,,,,,,,
1,2021-110650(1),아파트,2023-08-16,80,매각,12,203000000,162400000,175999999,87,...,9.0,904,서울 강서구 강서로 43-6,혜성오피아파트,강서로,43,6,07774,37.531582,126.846265
2,2022-114352(1),아파트,2023-08-16,100,매각,0,110000000,110000000,110000000,100,...,7.0,703,서울 영등포구 도림천로19길 12,유탑유블레스,도림천로19길,12,None,07448,37.486919,126.900555
3,2022-114512(1),아파트,2023-08-16,100,매각,0,1000000000,1000000000,1060199999,106,...,6.0,605,서울 양천구 목동동로 10,목동신시가지아파트11단지,목동동로,10,None,08098,37.512056,126.858410
4,2021-3441(30),아파트,2023-08-16,64,매각,2,2117000000,1354880000,1363000000,64,...,5.0,501,서울 성북구 개운사길 83-15,None,개운사길,83,15,02842,37.590451,127.028758
5,2022-1886(1),아파트,2023-08-16,80,매각,1,919000000,735200000,744999999,81,...,10.0,1002,서울 성북구 길음로13길 22,길음7구역 두산위브아파트,길음로13길,22,None,02715,37.609675,127.019032
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
978,2020-1667(1),아파트,2020-08-12,100,배당종결,0,1558000000,1558000000,1650000000,106,...,2.0,202,서울 양천구 목동동로 100,목동신시가지아파트13단지,목동동로,100,None,08096,37.514191,126.865003
979,2019-9300(1),아파트,2020-08-11,100,배당종결,0,888000000,888000000,938000000,106,...,14.0,1401,서울 동작구 동작대로39가길 55,동작동금강KCC아파트,동작대로39가길,55,None,06992,37.493987,126.978411
980,2019-5754(1),아파트,2020-08-11,80,배당종결,1,471000000,376800000,475240000,101,...,4.0,404,서울 은평구 응암로 366,해주 드림빌,응암로,366,None,03459,37.603804,126.923082
981,2019-52200(1),아파트,2020-08-11,80,배당종결,1,1230000000,984000000,1007010000,82,...,6.0,601,서울 은평구 진관4로 48-51,은평뉴타운 상림마을,진관4로,48,51,03303,37.642403,126.931076
982,2019-56363(1),아파트,2020-08-11,80,배당종결,1,142000000,113600000,131990000,93,...,2.0,202,서울 은평구 백련산로 127,신동아아파트,백련산로,127,None,03463,37.596986,126.923484

In [4]:
df_houseinfo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 982 entries, 1 to 982
Data columns (total 35 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   case_number         982 non-null    object
 1   property_type       982 non-null    object
 2   auction_date        982 non-null    datetime64[ns]
 3   percentage          982 non-null    int64
 4   result              982 non-null    object
 5   auction_count       982 non-null    int64
 6   appraised_value     982 non-null    int64
 7   minimum_bid_price   982 non-null    int64
 8   sale_price          982 non-null    int64
 9   sale_rate           982 non-null    int64
 10  number_of_bidders   982 non-null    int64
 11  land_m2             982 non-null    float64
 12  land_pyung          982 non-null    float64
 13  building_m2         982 non-null    float64
 14  building_pyung      982 non-null    float64
 15  image               982 non-null    object
 16  full_address_jibun  982 non-null    object
 17  b_code              982 non-null    object
 18  h_code              982 non-null    object
 19  region1             982 non-null    object
 20  region2             982 non-null    object
 21  region3             982 non-null    object
 22  main_address_no     982 non-null    object
 23  sub_address_no      364 non-null    object
 24  apartment_block     716 non-null    object
 25  floor               980 non-null    float64
 26  room                980 non-null    object
 27  full_address_road   979 non-null    object
 28  building_name       949 non-null    object
 29  road_name           979 non-null    object
 30  main_building_no    979 non-null    object
 31  sub_building_no     108 non-null    object
 32  postcode            979 non-null    object
 33  latitude            982 non-null    float64
 34  longitude           982 non-null    float64
dtypes: datetime64[ns](1), float64(7), int64(7), object(20)
memory usage: 276.2+ KB

In [13]:
df_realprice_raw.info()

<class 'pandas.core.frame.DataFrame'>
Index: 105029 entries, 1 to 105029
Data columns (total 14 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   apartment_name     105029 non-null  object
 1   city               105029 non-null  object
 2   district           105029 non-null  object
 3   neighborhood       105029 non-null  object
 4   address_number     104999 non-null  object
 5   road_name          105029 non-null  object
 6   floor              105029 non-null  int64
 7   building_m2        105029 non-null  float64
 8   construction_year  105027 non-null  float64
 9   contract_price     105029 non-null  int64
 10  contract_year      105029 non-null  int64
 11  contract_month     105029 non-null  int64
 12  contract_date      105029 non-null  int64
 13  contract_type      36214 non-null   object
dtypes: float64(2), int64(5), object(7)
memory usage: 12.0+ MB

In [14]:
df_realprice = df_realprice_raw.copy()

In [15]:
df_realprice['full_address_road'] = '서울' + ' ' + df_realprice['district'] + ' ' + df_realprice['road_name']

In [17]:
merged_df = df_houseinfo.merge(df_realprice, on=['full_address_road', 'floor'], how='inner')

merged_df

,case_number,property_type,auction_date,percentage,result,auction_count,appraised_value,minimum_bid_price,sale_price,sale_rate,...,neighborhood,address_number,road_name_y,building_m2_y,construction_year,contract_price,contract_year,contract_month,contract_date,contract_type
0,2022-114352(1),아파트,2023-08-16,100,매각,0,110000000,110000000,110000000,100,...,대림동,1101-1,도림천로19길 12,13.90,2012.0,1020000000000000,2022,10,8,중개거래
1,2022-114352(1),아파트,2023-08-16,100,매각,0,110000000,110000000,110000000,100,...,대림동,1101-1,도림천로19길 12,14.81,2012.0,1050000000000000,2023,1,2,중개거래
2,2022-114352(1),아파트,2023-08-16,100,매각,0,110000000,110000000,110000000,100,...,대림동,1101-1,도림천로19길 12,13.64,2012.0,1090000000000000,2022,2,22,중개거래
3,2022-114352(1),아파트,2023-08-16,100,매각,0,110000000,110000000,110000000,100,...,대림동,1101-1,도림천로19길 12,14.46,2012.0,1150000000000000,2020,9,21,None
4,2022-114352(1),아파트,2023-08-16,100,매각,0,110000000,110000000,110000000,100,...,대림동,1101-1,도림천로19길 12,13.90,2012.0,1150000000000000,2020,10,16,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1945,2020-1667(1),아파트,2020-08-12,100,배당종결,0,1558000000,1558000000,1650000000,106,...,신정동,327,목동동로 100,99.26,1987.0,19680000000000000,2021,4,26,None
1946,2019-9300(1),아파트,2020-08-11,100,배당종결,0,888000000,888000000,938000000,106,...,동작동,331,동작대로39가길 55,84.95,2003.0,13000000000000000,2022,1,21,중개거래
1947,2019-5754(1),아파트,2020-08-11,80,배당종결,1,471000000,376800000,475240000,101,...,녹번동,279-1,응암로 366,78.80,2001.0,6250000000000000,2022,3,3,직거래
1948,2019-56363(1),아파트,2020-08-11,80,배당종결,1,142000000,113600000,131990000,93,...,응암동,197-78,백련산로 127,52.71,1990.0,3700000000000000,2021,1,8,None
1949,2019-56363(1),아파트,2020-08-11,80,배당종결,1,142000000,113600000,131990000,93,...,응암동,197-78,백련산로 127,52.71,1990.0,4600000000000000,2021,2,21,None

In [18]:
# 중복 열 삭제
merged_df = merged_df.drop(columns=[
    'city',
    'district',
    'neighborhood',
    'address_number',
    'road_name_y',
    'building_name',
])

In [19]:
# 1. 'contract_year', 'contract_month', 'contract_date' 열을 이용하여 'contract_date_full' 열 생성
merged_df['contract_date_full'] = pd.to_datetime(merged_df['contract_year'].astype(str) + '-' + 
                                                merged_df['contract_month'].astype(str) + '-' + 
                                                merged_df['contract_date'].astype(str))

# 2. 'auction_date'와 'contract_date_full' 사이의 날짜 차이 계산
merged_df['date_difference'] = pd.to_datetime(merged_df['auction_date']) - merged_df['contract_date_full']

In [20]:
merged_df['date_difference']

0       312 days
1       226 days
2       540 days
3      1059 days
4      1034 days
          ...
1945   -257 days
1946   -528 days
1947   -569 days
1948   -150 days
1949   -194 days
Name: date_difference, Length: 1950, dtype: timedelta64[ns]

In [21]:
merged_df.to_csv("../../data/processed/merged_date_difference.csv")
df_realprice.to_csv('../../data/processed/realprice.csv')

In [22]:
# 각 지역별 데이터의 평균을 계산
summary_df = merged_df.groupby(['region1', 'region2'])[['sale_price', 'contract_price']].mean().reset_index()

# 숫자를 억 단위로 변환하기 위한 함수
def billions_formatter(num):
    return f'{num / 1_0000_0000:.1f}억'

In [ ]:
# y축의 표시 방식을 위한 변수 정의
max_val = max(summary_df['sale_price'].max(), summary_df['contract_price'].max())
ticks = [i for i in range(0, int(max_val) + 500_000_000, 500_000_000)]

# 데이터 준비
x = summary_df['region2']
y1 = summary_df['sale_price']
y2 = summary_df['contract_price']

# 그래프 생성
fig = go.Figure()

# 경매매각가 바 추가
fig.add_trace(go.Bar(x=x, y=y1, name='경매매각가'))

# 실거래가 바 추가
fig.add_trace(go.Bar(x=x, y=y2, name='실거래가'))

# 레이아웃 설정
fig.update_layout(title='서울시 구별 평균 경매매각가, 실거래가', 
                  xaxis_title="서울시 구", 
                  yaxis_title="평균 가격",
                  yaxis_tickvals=ticks, 
                  yaxis_ticktext=[billions_formatter(tick) for tick in ticks],
                  barmode='group',
                  legend_title_text='거래 유형',
                  width=1700, height=1000)

# 호버 템플릿 수정
fig.update_traces(hovertemplate='%{y:,.0f}원<br>%{x}')

fig

In [ ]:
# 사용할 색상 조합 변경
color_scale = px.colors.qualitative.Light24

# "서울시 모든 구"의 데이터를 준비 (region2 별로 합산)
all_data_grouped = merged_df.groupby(['region2']).size().reset_index(name='count')

# "서울시 모든 구"에 대한 트레이스 생성
color_dict = {region: color for region, color in zip(all_data_grouped['region2'], color_scale)}
all_trace_colors = all_data_grouped['region2'].map(color_dict)
all_trace = go.Bar(x=all_data_grouped['region2'], y=all_data_grouped['count'], 
                   name='서울시 모든 구', marker_color=all_trace_colors)
traces = [all_trace]

# 각 지역별 데이터와 그래프 생성
for idx, (reg1, reg2) in enumerate(merged_df.groupby(['region1', 'region2']).size().index):
    subset_df = merged_df[(merged_df['region1'] == reg1) & (merged_df['region2'] == reg2)]
    grouped_df = subset_df.groupby(['region3']).size().reset_index(name='count')
    
    trace = go.Bar(x=grouped_df['region3'], y=grouped_df['count'], 
                   name=f'{reg1} {reg2}', marker_color=color_scale[idx % len(color_scale)])
    traces.append(trace)

# 드롭다운 메뉴 설정
buttons = [dict(label="     서울시 모든 구    ", 
                method='update', 
                args=[{'visible': [True] + [False] * (len(traces)-1)}, 
                      {'title': '서울시 구별 경매-실거래 매칭 건수', 'xaxis': {'title': '구'}}])]

for j, (reg1, reg2) in enumerate(merged_df.groupby(['region1', 'region2']).size().index, start=1):
    button = dict(label=f'     {reg1}시 {reg2}     ', 
                  method='update', 
                  args=[{'visible': [i == j for i in range(len(traces))]}, 
                        {'title': f'{reg1}시 {reg2} 동별 경매-실거래 매칭 건수', 'xaxis': {'title': '동'}}])
    buttons.append(button)

# 그래프 레이아웃 설정
layout = go.Layout(title='서울시 구별 동별 경매-실거래 매칭 건수', showlegend=False,
                   updatemenus=[{'buttons': buttons, 
                                 'direction': 'down', 
                                 'active': 0, 
                                 'showactive': True, 
                                 'x': 1,  # x 위치를 중앙으로 조정
                                 'y': 1.07,  # y 위치를 상단으로 조정
                                 'xanchor': 'right',  # x 앵커를 중앙으로 설정
                                 'yanchor': 'top'}],  # y 앵커를 상단으로 설정}
                                 xaxis_title='구', yaxis_title='건수', width=1700, height=800)

# 그래프 생성 및 표시
fig = go.Figure(data=traces, layout=layout)
fig

In [ ]:
# 사용할 색상 조합 변경
color_scale = px.colors.qualitative.Light24

# "서울시 모든 구"의 데이터를 준비 (region2 별로 합산)
all_data_grouped = merged_df.groupby(['region2']).size().reset_index(name='count')

# "서울시 모든 구"에 대한 트레이스 생성
color_dict = {region: color for region, color in zip(all_data_grouped['region2'], color_scale)}
all_trace_colors = all_data_grouped['region2'].map(color_dict)
all_trace = go.Bar(x=all_data_grouped['region2'], y=all_data_grouped['count'], 
                   name='서울시 모든 구', marker_color=all_trace_colors)
traces = [all_trace]

# 각 지역별 데이터와 그래프 생성
for idx, (reg1, reg2) in enumerate(merged_df.groupby(['region1', 'region2']).size().index):
    subset_df = merged_df[(merged_df['region1'] == reg1) & (merged_df['region2'] == reg2)]
    grouped_df = subset_df.groupby(['region3']).size().reset_index(name='count')
    
    trace = go.Bar(x=grouped_df['region3'], y=grouped_df['count'], 
                   name=f'{reg1} {reg2}', marker_color=color_scale[idx % len(color_scale)])
    traces.append(trace)

# 슬라이더 스텝 설정
steps = []

# "서울시 모든 구"에 대한 스텝 추가
step = {
    'args': [{'visible': [True] + [False] * (len(traces)-1)}, 
             {'title': '서울시 구별 경매-실거래 매칭 건수', 'xaxis': {'title': '구'}}],
    'label': '서울시 모든 구',
    'method': 'update'
}
steps.append(step)

# 각 구별 스텝 추가
for j, (reg1, reg2) in enumerate(merged_df.groupby(['region1', 'region2']).size().index, start=1):
    step = {
        'args': [{'visible': [i == j for i in range(len(traces))]}, 
                 {'title': f'{reg1} {reg2} 동별 경매-실거래 매칭 건수', 'xaxis': {'title': '동'}}],
        'label': f'{reg2}',
        'method': 'update'
    }
    steps.append(step)

# 슬라이더 설정
sliders = [dict(
    active=0,
    yanchor='top',
    xanchor='left',
    currentvalue=dict(font=dict(size=16), prefix='Currently Displaying: ', visible=True),
    transition=dict(duration=3, easing='cubic-in-out'),
    pad=dict(b=10, t=50),
    len=1.0,  # 슬라이더 길이
    x=0.0,   # 슬라이더의 시작 위치
    y=0,
    steps=steps,
    ticklen=5  # 슬라이더 내부의 틱의 길이 조정
)]

# 그래프 레이아웃 설정
layout = go.Layout(
    title='서울시 구별 동별 경매-실거래 매칭 건수', 
    showlegend=False,
    xaxis_title='구', 
    yaxis_title='건수', 
    width=1700, 
    height=900,  # 그래프 높이를 약간 늘림
    sliders=sliders
)

# 그래프 생성 및 표시
fig = go.Figure(data=traces, layout=layout)
fig

In [ ]:
# "서울시 모든 구"의 데이터를 준비 (region2 별로 합산)
all_data_grouped = merged_df.groupby(['region2']).size().reset_index(name='count')

# 파이 차트 데이터 준비
labels = all_data_grouped['region2']
values = all_data_grouped['count']

# 파이 차트 생성
fig = px.pie(all_data_grouped, 
             names='region2', 
             values='count', 
             title='서울시 모든 구별 경매-실거래 매칭 건수')

# 라벨 업데이트 (백분율과 함께 구 이름 표시)
fig.update_traces(textinfo='label+percent', textfont_size=16)
fig.update_layout(width=1000, height=800)
fig.show()

In [ ]:
# # 각 region1 + region2 조합별로 데이터 필터링 및 그래프 생성
# for (reg1, reg2) in merged_df.groupby(['region1', 'region2']).size().index:
#     subset_df = merged_df[(merged_df['region1'] == reg1) & (merged_df['region2'] == reg2)]
    
#     # 'full_address_road'와 'floor'로 그룹화하고 해당 그룹의 레코드 수를 계산
#     grouped_df = subset_df.groupby(['full_address_road', 'floor']).size().reset_index(name='count')
    
#     # 'region3'와 'apartment_name'을 합쳐서 새로운 열 생성
#     grouped_df['address_label'] = subset_df['region3'] + ", " + subset_df['apartment_name']
    
#     # plotly express를 사용하여 바 차트 생성 (RdBu 컬러 스키마 사용)
#     fig = px.bar(grouped_df, 
#                  x='address_label', 
#                  y='count', 
#                  color='floor', 
#                  title=f'{reg1} {reg2} - 주소 및 층 별 레코드 수',
#                  labels={'address_label': '주소', 'count': '레코드 수'},
#                  height=600,
#                  color_continuous_scale=px.colors.sequential.RdBu)
    
#     fig.show()

In [ ]:
color_scale = px.colors.sequential.Oryel

# 'date_difference'를 기반으로 데이터 필터링
filtered_data = merged_df[merged_df['date_difference'].dt.days.abs() <= 365]

# 'region2'와 'floor'로 그룹화하여 sale_price와 contract_price의 평균 계산
grouped_data_by_region = filtered_data.groupby(['region2', 'floor', ])[['sale_price', 'contract_price']].mean().reset_index()

# sale_price와 contract_price 사이의 가격 차이를 새로운 열로 생성
grouped_data_by_region['price_difference'] = grouped_data_by_region['sale_price'] - grouped_data_by_region['contract_price']


# sale_price와 contract_price의 가격 차이를 나타내는 바 차트 생성
fig2_region_colored = px.bar(grouped_data_by_region, x='region2', y='price_difference', color='floor',
                             color_continuous_scale=color_scale,
                             title='구별 경매매각가와 실거래가의 가격 차이')

fig2_region_colored.show()

In [ ]:
# import plotly.express as px

# # date_difference가 365일 이내인 데이터 필터링
# filtered_data = merged_df[merged_df['date_difference'].dt.days.abs() <= 365]

# # 'full_address_road'와 'floor'로 그룹화하여 sale_price와 contract_price의 평균 계산
# grouped_data = filtered_data.groupby(['full_address_road', 'floor'])[['sale_price', 'contract_price']].mean().reset_index()

# # sale_price와 contract_price 사이의 가격 차이 계산하여 새로운 열 생성
# grouped_data['price_difference'] = grouped_data['sale_price'] - grouped_data['contract_price']

# # 주소에서 '구'만 추출하여 새로운 열 생성
# grouped_data['구'] = grouped_data['full_address_road'].str.split().str[1]

# # '구' 별로 데이터를 분할하여 시각화
# for region in grouped_data['구'].unique():
#     subset_data = grouped_data[grouped_data['구'] == region]
    
#     # sale_price와 contract_price 비교 바 플롯 생성
#     fig1 = px.bar(subset_data, x='full_address_road', y=['sale_price', 'contract_price'], 
#                   color='floor', barmode='group', 
#                   title=f'{region} - 매각가와 실거래가 비교',
#                   color_discrete_sequence=px.colors.sequential.Teal)
    
#     fig1.show()

In [ ]:
geo_json_gu = json.load(open("../../data/map/서울시_자치구.geojson"))

In [ ]:
import plotly.express as px

# 지도 그래프 생성
fig = px.scatter_mapbox(merged_df, lat='latitude', lon='longitude', mapbox_style="carto-positron", 
                        hover_name='full_address_road', 
                        hover_data=['sale_price', 'contract_price'],
                        color_continuous_scale=color_scale, color ='contract_price',
                        zoom=10, height=600)

# 지도 스타일 설정
fig.update_layout(margin={"r":0,"t":40,"l":0,"b":0})

# 구 경계선 나타내기
fig.update_layout(mapbox={
    "layers": [
            {
                "source": geo_json_gu,
                "below":"traces",
                "type": "line",
                "color": "grey",
                "opacity":0.5
            }
        ]
    })
fig.show()

In [ ]:
df_price_by_gu = df_realprice_raw.groupby('district')[['contract_price']].mean()
df_price_by_gu = df_price_by_gu.reset_index()
df_price_by_gu

In [ ]:
# 레전드에 억 단위로 표시하기 위한 설정
max_value = df_price_by_gu['contract_price'].max()
ticks = list(range(0, int(max_value), int(5e8))) + [int(max_value)]

# Choropleth Map 생성
fig = px.choropleth_mapbox(df_price_by_gu,
                           geojson=geo_json_gu,
                           locations='district',
                           color='contract_price',
                           color_continuous_scale='Oryel', 
                           featureidkey='properties.SIG_KOR_NM',
                           mapbox_style='carto-positron',
                           height=1000,
                           zoom=10.5,
                           center={"lat": 37.563383, "lon": 126.996039},
                           opacity=0.5,
                           title='서울시 자치구별 실거래가격',
                           range_color=(0, max_value),
                           color_continuous_midpoint=max_value/2
                          )

# 호버 템플릿 설정
fig.update_traces(hovertemplate='<b>%{location}</b><br>평균 실거래가: ' + 
                  '%{z:₩,.0f}<br>' + 
                  '<b>억 단위:</b> ' + 
                  '<b>' + '%{customdata[0]:.1f}' + '억</b>',
                  customdata=np.array([df_price_by_gu['contract_price'] / 1_0000_0000]).T)

# 레전드 설정
fig.update_layout(coloraxis_colorbar=dict(
    tickvals=ticks,title="평균 실거래가",
    ticktext=[billions_formatter(tick) for tick in ticks]
))

fig.show()